.flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url("https://i.pinimg.com/736x/fe/dd/93/fedd9376670c1109271e0e334408b258.jpg");
     display:flex;
    justify-content: center;
    align-items: center;
    font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif ;
    color: white;
}
.frame{
    width:300px;
    height:500px ;
    background: #2b2929c9;
    backdrop-filter: blur(5px);
    border:5px solid rgb(10, 10, 10);
    border-radius: 40px;
    overflow: hidden;
}
.iconSection{
    width:100%;
    height: 20px;
    font-size:12px;
    display: flex;
    justify-content:space-around;
}
.camera{
    width: 70px;
    height: 75%;
    background-color: black;
    border-radius: 5px 5px 10px 10px;
}
#battry{
    color: rgb(1, 54, 1);
}
